#quote {
  height: 50vh;
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #9f5f80;
}

#quote span {
  margin-top: 30px;
  color: #ff8e71;
}
