@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

.heading {
  color: #142f44;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Raleway Dots', cursive;
  font-size: 3rem;
}
