.result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
  height: 100px;
  padding: 0 20px;
  text-align: right;
  color: #fff;
  font-weight: bold;
  background-color: #858694;
}

.result.error {
  background-color: rgb(184, 76, 76);
}
