*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1024px;
  margin: auto;
}

@media Screen and (max-width: 784px) {
  header {
    flex-direction: column;
  }

  .calculator-container {
    flex-direction: column;
  }

  .calculator-container h1 {
    margin: 20px 0;
  }

  #root .calculator-container .main-container {
    width: 100%;
  }
}

@media Screen and (max-width: 463px) {
  header > .logo {
    font-size: 2rem;
  }

  header ul li {
    margin-top: 20px;
  }

  header ul li a {
    padding: 0 10px;
  }
}
